.App{
  display: flex;
  flex-direction: column;
}
.header{
  height: 120px;

}
.image{
  height: 100px;
  width: 60px;
}
.card{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
